<header>
  <nav class="navbar">
    <div class="nav-left">
      <a href="/" class="logo">G</a>
      <ul class="nav-links">
        <li><a href="/pages/solutions.html">Solutions</a></li>
        <li><a href="/pages/industries.html">Industries</a></li>
        <li><a href="/pages/about.html">About Us</a></li>
      </ul>
    </div>
    <div class="nav-right">
      <a
        href="/pages/about.html#contact"
        class="btn"
        style="background:#fff;color:#000;border-color:#000;"
        >Contact</a
      >
      <a href="/pages/solutions.html#cta" class="btn">Schedule a Strategy Call</a>
    </div>
  </nav>
</header>
